<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameStartBtn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,124}}</string>
                <key>sourceSize</key>
                <string>{415,124}</string>
            </dict>
            <key>paihang@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,128},{273,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,113}}</string>
                <key>sourceSize</key>
                <string>{273,113}</string>
            </dict>
            <key>关闭音乐@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,319},{116,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,136}}</string>
                <key>sourceSize</key>
                <string>{116,136}</string>
            </dict>
            <key>开启音乐@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{116,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,136}}</string>
                <key>sourceSize</key>
                <string>{116,136}</string>
            </dict>
            <key>更多图标@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,243},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>注意@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>礼包@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{116,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,136}}</string>
                <key>sourceSize</key>
                <string>{116,136}</string>
            </dict>
            <key>金币图标@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>金币背景@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,76},{241,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,72}}</string>
                <key>sourceSize</key>
                <string>{241,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>首页精灵图.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f072d916fb575f3b8f0f58e28c844fe5$</string>
            <key>textureFileName</key>
            <string>首页精灵图.png</string>
        </dict>
    </dict>
</plist>
